@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

h3 {
  text-shadow: 2px 2px 5px #f44a0d;
  text-align: center;
  background-color: #141414;
  border-radius: 5px;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 5px 5px 12px #180f0f,inset 5px 5px 12px rgba(71, 89, 92, 0.893);
}

body {
  background-color: #000000;
  text-align: center;
  font-family: "Roboto";
  border: 1px solid #141414;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

body:hover{
  box-shadow: 5px 5px 12px #180f0f,inset 5px 5px 12px rgba(71, 89, 92, 0.893);
}

form {
  background: #fff;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 55px;
  box-shadow: inset 5px 5px 12px #180f0f, 5px 5px 12px rgba(71, 89, 92, 0.893);
  font-family: "Pacifico", cursive;
}

label {
  font-size: 23px;
  text-shadow: 2px 2px 5px #141414;
  padding-right: 15px;
}

div {
  font-size: 23px;
  text-shadow: 2px 2px 5px #141414;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  width: 80%;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
}

textarea {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
  max-width: 80%;
}

textarea:placeholder-shown {
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
}

:placeholder-shown:hover {
  text-shadow: 2px 2px 5px #9b8b8b;
  font-size: 19px;
  font-style: oblique;
}

#date {
  font-size: 12px;
  color: #9b8b8b;
}

#date:hover {
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  text-shadow: 2px 2px 5px #9b8b8b;
}

#car {
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
}

#car:hover {
  font-size: 19px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  text-shadow: 2px 2px 5px #9b8b8b;
}

input[type="submit"] {
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  margin-right: 121px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
  max-width: 80%;
}

input[type="submit"]:hover {
  background-color: green;
  color: greenyellow;
  font-size: 25px;
}

input[type="reset"] {
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
  max-width: 80%;
}

input[type="reset"]:hover {
  background-color: red;
  color: rebeccapurple;
  font-size: 25px;
}