body {
    background-color: aquamarine;
}

@media screen and (max-width: 960px) {
    body {
        background-color: rgb(230, 42, 42);
    }

    p {
        color: antiquewhite;
    }
}

.flex{
    background-color: gray;
    display: flex;
}

.flex > div{
    background-color: rgb(230, 42, 42);
    margin: 40px;
    padding: 60px;
    font-size: 40px;
}