body {
  font-family: cursive;
  font-size: 19px;
}

ul {
  width: 99%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(17, 18, 18);
  /* height: 30%; */
  position: fixed;
  /* margin-left: -20px; */
  /*margin-top: 15%; */
  left: 1;
  border-radius: 9px;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  display: block;
  color: rgb(235, 246, 246);
  /* background-color: aqua; */
  padding: 15px 12px;
  text-align: center;
}

li a:hover {
  background-color: aqua;
  font-size: 21px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background-color: #4caf50;
}

div {
  margin-left: 30%;
  padding: 1px 19px;
  padding-top: 32px;
  height: 100px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  ul.navB li.right,
  ul.navB li {
    float: none;
  }
}
