body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  border-radius: 9px;
}

ul:hover {
  box-shadow: 2px 2px 12px gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: #111;
  border-radius: 9px;
  box-shadow: inset 2px 2px 9px gray;
}

.active {
  background-color: #4caf50;
}

@media screen and (max-width: 802px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}